*
{
    padding: 0;
    margin: 0;
    outline: 0;
}
html,body
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body
{
    background-color: #140032;
    position: relative;
}
.s
{
    position: absolute;
    inset: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    border-left: 10px ridge transparent;
    border-right: 10px ridge transparent;
    border-radius: 25%;
    transform: scale(0.25) rotate(0deg);
    animation: infinity 12s ease-in-out infinite;
}
@keyframes infinity {
    25% {
        transform: scale(4) rotate(180deg);
    }
    50% {
        transform: scale(1) rotate(360deg);
    }
    75% {
        transform: scale(4) rotate(540deg);
    }
    100% {
        transform: scale(0.25) rotate(720deg);
    }
}